// colors
$accentColor = #fc636b
$textColor = #1b1b1d
$borderColor = #ffdc80
$codeBgColor = #1b1b1d
$arrowBgColor = #666

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem

// :root {
//   --color-red: #fc636b;
//   --color-yellow: #ffdc80;
//   --color-black: #1b1b1b;
//   --color-white: #fcfcfc;
//   --color-grey: #666;
//   --base-color: #1b1b1d;
// }